    header{
        background-color:#1CDA7E;
        color: rgb(9, 119, 214);
max-width: 800px;
margin: 0 auto;

    }


    main
    {blackgroud-color:
    
    
    
    
    text-aling: center;
    max-width: 800px;
margin: 0 auto;
    }